

 /*Override Bootstrap forms*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

 .radio, .checkbox {
  padding-left: 0;
 }

 .radio ul, .checkbox ul {
  list-style-type: none;
  padding-left: 0;
 }

 .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
   margin-left: 0;
   margin-right: .5em;
 }

fieldset {
  margin-bottom: 4em;
}

.container {
  margin: 50px auto;
  max-width: 360px;
}

.container-2 {
  margin: 50px auto;
  max-width: 600px;
}

.container-2 .form-control {
  width: 150px;
}


.form-group {
  margin-bottom: 1.8em;
}

.form-group label {
  margin-bottom: .5em;
}


.form-control {
  height: auto;
}


.form-control, .btn {
  border-radius: 0;
}

.form-inline .form-group {
  margin-right: .5em;
}

